{% extends 'base.html' %}
{% block content %}
{% load humanize %}

<div class="container mt-3">
    <h2 class="mb-4">Detalhes do Incidente</h2>
    <div class="card shadow">
        <div class="card-body">
            <!-- Topo (mantido sem alterações) -->
            <div class="row mb-4">
                <div class="col-md-4">
                    <h5 class="card-title text-primary"><i class="fas fa-ticket-alt"></i> Nº: {{ ticket.codigo_incidente }}</h5>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title text-primary"><i class="fas fa-code"></i> Cod: {{ ticket.codigo_sx }}</h5>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title text-primary">
                        <i class="fas fa-clock"></i> Tempo decorrido: <span id="tempo-decorrido-{{ ticket.id }}">{{ ticket.tempo_corrente|intcomma }} min.</span>
                    </h5>
                </div>
            </div>

            <!-- Corpo reorganizado em duas colunas -->
            <div class="row">
                <!-- Coluna da Esquerda -->
                <div class="col-md-5">
                    <!-- Status e Detalhes -->
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <strong>Status e Detalhes</strong>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Recurso:</strong> {{ ticket.recurso }}</li>
                            <li class="list-group-item"><strong>Criticidade:</strong> {{ ticket.criticidade }}</li>
                            <li class="list-group-item"><strong>Status:</strong> {{ ticket.get_status_display }}</li>
                            <li class="list-group-item"><strong>Data Abertura:</strong> {{ ticket.criado_em | date:"d/m/y H:i:s" }}</li>
                            <li class="list-group-item"><strong>Data Fechamento:</strong> {{ ticket.fechado_em | date:"d/m/y H:i:s" }}</li>
                            <li class="list-group-item"><strong>Previsão de Retorno:</strong> {{ ticket.previsao }}</li>
                            <li class="list-group-item"><strong>Problema Apresentado:</strong> {{ ticket.problema_apresentado }}</li>
                        </ul>
                    </div>

                    <!-- Responsáveis -->
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <strong>Responsáveis</strong>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Grupo de Suporte:</strong> {{ ticket.grupo_suporte }}</li>
                            <li class="list-group-item"><strong>Analista:</strong> {{ ticket.analista }}</li>
                            <li class="list-group-item"><strong>Responsável pelo Recurso:</strong> {{ ticket.responsavel }}</li>
                        </ul>
                    </div>

                    <!-- Links de Acesso -->
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <strong>Links de Acesso</strong>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Dynatrace:</strong>
                                <a href="{{ ticket.link_alerta }}" target="_blank" class="text-primary">{{ ticket.link_alerta | truncatechars:50}}</a>
                            </li>
                            <li class="list-group-item">
                                <strong>Incidente ITSM:</strong>
                                <a href="{{ ticket.link_itsm }}" target="_blank" class="text-primary">{{ ticket.link_itsm | truncatechars:50}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Coluna da Direita (campos maiores) -->
                <div class="col-md-7">
                    <!-- Ações com scroll -->
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <strong>Ações</strong>
                        </div>
                        <div class="card-body" style="max-height: 375px; overflow-y: auto;">
                            {{ ticket.historico_acoes|linebreaks }}
                        </div>
                    </div>

                    <!-- Solução Adotada -->
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <strong>Solução Adotada</strong>
                        </div>
                        <div class="card-body">
                            {{ ticket.solucao_contorno|linebreaks }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Galeria de Imagens Modal (inicialmente oculta) -->
            <div class="mt-4">
                <button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#imageGalleryModal">
                    <i class="fas fa-images"></i> Visualizar Imagens ({{ ticket.images.count }})
                </button>

                <!-- Abre uma sala de chat com o número do incidente -->
                 <a href="{% url 'criar_sala_chat' ticket.id %}" class="btn btn-info">
                    <i class="bi bi-chat-right-dots"></i> Abrir Sala de Chat
                 </a>
            </div>
        </div>
    </div>

    <!-- Botões de Interação -->
    <div class="mt-4">
        <a href="{% url 'ticket_list' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
        <a href="{% url 'ticket_update' ticket.id %}" class="btn btn-warning {% if ticket.status == 'Fechado' %}disabled{% endif %}">
            <i class="fas fa-edit"></i> Editar Incidente
        </a>
    </div>
    <br>
</div>

<!-- Modal para Galeria de Imagens -->
<div class="modal fade" id="imageGalleryModal" tabindex="-1" aria-labelledby="imageGalleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageGalleryModalLabel">Imagens do Incidente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for image in ticket.images.all %}
                    <div class="col-md-4 mb-3">
                        <img src="{{ image.image.url }}" alt="Imagem do Incidente" class="img-fluid rounded shadow-sm">
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <p class="text-muted">Nenhuma imagem enviada.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function atualizarTempoDecorrido(ticketId) {
        console.log(`Atualizando tempo para o ticket ${ticketId}...`);
        fetch(`/tickets/tempo_decorrido/${ticketId}/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Erro na requisição: ${response.status} ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                console.log(`Dados recebidos para o ticket ${ticketId}:`, data);
                if (data.tempo_decorrido !== undefined) {
                    let elemento = document.getElementById(`tempo-decorrido-${ticketId}`);
                    if (elemento) {
                        elemento.innerText = `${data.tempo_decorrido} Min.`;
                    } else {
                        console.error(`Elemento não encontrado para o ticket ${ticketId}`);
                    }
                }
            })
            .catch(error => console.error(`Erro ao atualizar tempo decorrido do ticket ${ticketId}:`, error));
    }

    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOM carregado. Iniciando intervalo de atualização...');
        const ticketId = {{ ticket.id }};
        console.log(`Configurando intervalo para o ticket ${ticketId}`);
        setInterval(() => atualizarTempoDecorrido(ticketId), 60000);
    });
</script>
{% endblock %}