{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Dashboard | Gestão de Incidentes{% endblock %}

{% block page_title %}Cadastrar incidente{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card shadow-sm p-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row">
                {% if not form.instance.pk %}
                <div class="col-md-6">{{ form.codigo_incidente|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.problema_apresentado|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.recurso|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.status|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.grupo_suporte|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.link_alerta|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.link_itsm|as_crispy_field }}</div>
                {% else %}
                <div class="col-md-6">{{ form.codigo_sx|as_crispy_field }}</div>
                <div class="col-md-12">{{ form.historico_acoes|as_crispy_field }}</div>
                <div class="col-md-12">{{ form.solucao_contorno|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.status|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.grupo_suporte|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.analista|as_crispy_field }}</div>
                {% endif %}
            </div>
            
            <div class="mt-3">
                <label for="images" class="form-label">Upload de Imagens</label>
                <input type="file" name="images" id="images" class="form-control" multiple>
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
                <a href="{% url 'ticket_list' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
